html {
  line-height: 1.15; 
  -webkit-text-size-adjust: 100%; 
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; 
  height: 0; 
  overflow: visible;
}
pre {
  font-family: monospace, monospace; 
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none; 
  text-decoration: underline; 
  -webkit-text-decoration: underline dotted; 
          text-decoration: underline dotted; 
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; 
  font-size: 1em; 
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; 
  font-size: 100%; 
  line-height: 1.15; 
  margin: 0;
}
button,
input { 
  overflow: visible;
}

button,
select { 
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; 
  color: inherit; 
  display: table; 
  max-width: 100%; 
  padding: 0; 
  white-space: normal; 
}
progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; 
  padding: 0; 
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield; 
  outline-offset: -2px; 
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; 
  font: inherit; 
}
details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("../fonts/OpenSans-Light.eot");
    src: url("../fonts/OpenSans-Light.ttf");
    src: url("../fonts/OpenSans-Light.woff");
    font-style: normal;
    font-weight: 100;
 }
 @font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.eot");
    src: url("../fonts/OpenSans-Regular.ttf");
    src: url("../fonts/OpenSans-Regular.woff");
    font-style: normal;
    font-weight: 300;
 }
  @font-face {
    font-family: "OpenSans-SemiBold";
    src: url("../fonts/OpenSans-SemiBold.eot");
    src: url("../fonts/OpenSans-SemiBold.ttf");
    src: url("../fonts/OpenSans-SemiBold.woff");
    font-style: normal;
    font-weight: 500;
 }
  @font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.eot");
    src: url("../fonts/OpenSans-Bold.ttf");
    src: url("../fonts/OpenSans-Bold.woff");
    font-style: normal;
    font-weight: 900;
 } 
th{
  font-family: "OpenSans-Bold";
  font-size: 14px;
}
tr{
  height: 40px;
}
td{
  font-size: 14px;
}
 img {
  max-width: 100%;
  height: auto;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
 button{
    cursor: pointer;
 }
 *{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
 }
body{
    font-family: "OpenSans-Regular";
    color: #1e1e1e;
    font-size: 16px;
    line-height: 30px;
 }
.container{
    max-width: 967px;
    margin: 0 auto;
 }
 .container-full{
    max-width: 1920px;
    margin: 0 auto;
 }

 /*header*/
.header{
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    z-index: 100;
}
.header-logo{
    padding: 11px 0 0;
}
.header-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
 }
.header-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
 }
.header-item{
    margin-right: 30px;
 }
.header-item:last-child{
    margin-right: 0;
 }
.header-item__link{
    font-size: 16px;
    color: #1e1e1e;
    text-transform: uppercase;
 }
.header-item__link:hover,
.header-item__link:focus{
    opacity: 0.75;
}

/*intro*/
.intro {
   min-height: 660px;
   background: url(../img/bg.png) no-repeat center;
   background-size: cover;
   padding-top: 150px;
   padding-bottom: 125px;
   text-align: center;
}
.intro-subtitle{
    font-family: "OpenSans-Light";
    color: #fff;
    font-size: 34px;
    font-weight: 400;
}
.intro-title{
    font-size: 82px;
    color: #fff;
    font-family: "OpenSans-Bold";
    margin: 0;
    line-height: 115px;
    position: relative;
    margin-bottom: 50px;
}
.intro-title::after{
    display: block;
    content: "";
    width: 462px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    left: 25%;
    
}
.intro-price{
    margin-bottom: 50px;
}
.intro-price__subtitle{
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    display: block;
    margin-bottom: 25px;
    margin-top: 30px;
}
.intro-price__title{
    font-size: 36px;
    font-family: "OpenSans-Bold";
    color: #fff;

}
.intro-price__price{
    color: #fff;
    font-size: 48px;
    font-family: "OpenSans-Bold";
}
.btn{
    border: 2px solid #fff;
    color: #fff;
    font-family: "OpenSans-SemiBold";
    font-size: 16px;
    text-transform: uppercase;
    padding: 25px;

}
.btn:first-child{
    margin-right: 20px;
}
.btn:focus, .btn:hover{
    background: #fff;
    color: #1e1e1e;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
/*about*/
.about{
    margin-top: 50px;
}
.title{
    font-family: "OpenSans-Bold";
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}
.title::after{
    display: block;
    content: "";
    width: 90px;
    height: 5px;
    background-color: #1e1e1e;
    position: absolute;
    left: 45%;
    top: 170%;
}
.about-text{
    text-align: center;
    margin-bottom: 32px;
}
.first{
    margin-top: 50px;
}

/*photo*/
.photo-img{
  margin-right: -2px;
  min-height: 320px;
}

/*table*/
.table{
 max-height: 430px;
 background: url(../img/bg2.png) no-repeat center;
 background-size: cover;
 padding-top: 35px;
 padding-bottom: 40px;
}
.table-wrapper{
  padding: 25px;
  margin-top: 40px;
  max-width: 945px;
  background: #fff;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
          box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
}
.table-items{
  width: 100%;
  border-spacing: 0;
}
.table-line{
  background-color: #f3f3f3;
}
.table-top{
  text-align: center;
}
.table-main{
  padding-left: 30px;
  text-align: left;
  font-family: "OpenSans-Bold";
}
.table-bottom{
  text-align: center;
}
.table-rus{
  font-family: "OpenSans-Bold";
  font-size: 14px;
}

/*catalog*/
.catalog{
  margin-top: 50px;
}
.tabs {
  text-align: center;
}
.catalog-tabs{
  margin-top: 25px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tabs-list {
  float: left;
  display: block;
}
.tabs input[type="radio"] {
  position: absolute;
  top: 0;
  left: -9999px;
}
.tabs label {
  display: block;
  text-transform: uppercase;
  background: #ba0152;
  cursor: pointer;
  position: relative;
  font-size: 18px;
  background: #f3f3f3;
  color: #1e1e1e;
  padding: 25px 35px 22px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 0;
  margin-top: 30px;
}
.tabs label:hover {
  background: #ba0152;
  color: #fff;
}
.tabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  padding: 30px 0 62px;
  position: absolute;
  top: 100px;
  left: 0;
  background: #fff;
  width: 100%;
}
.tabs [id^="tab"]:checked + label {
  font-size: 18px;
  text-transform: uppercase;
  background: #f3f3f3;
  color: #1e1e1e;
  padding: 25px 35px;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}
.catalog-cards{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.catalog-card{
  width: 31.1%;
  border: 1px solid #cacbd0;
  text-align: center;
  margin-bottom: 20px;
}
.catalog-card__img{
  max-width: 300px;
}
.catalog-card__title{
  font-size: 18px;
  font-family: "OpenSans-Bold";
}
.catalog-card__size-text{
  font-size: 18px;
  margin-right: 20px; 
}
.catalog-card__size-text:last-child{
  margin-right: 0;
}
.hidden{
  color: #ceced3;
}
.catalog-card__point{
  position: relative;
  margin-top: 15px;
}
.point__black{
  height: 25px;
  width: 25px;
  background: #000;
  position: absolute;
  border-radius: 100%;
  left: 37%;
}
.point__red{
  height: 25px;
  width: 25px;
  background: #ff0000;
  position: absolute;
  border-radius: 100%;
}
.catalog-card__price{
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.price__hidden{
  font-size: 24px;
  color: #8c8c8c;
  text-decoration: line-through;
  margin-right: 26px;
}
.price__price{
  font-size: 30px;
  color: #b4014e;
  font-family: "OpenSans-Bold";
}
.catalog-card__price-btn{
  color: #fff;
  font-family: "OpenSans-SemiBold";
  font-size: 18px;
  padding: 25px 85px;
  margin: 18px 22px;
  background: -o-linear-gradient(bottom, #8558e9, #4a75e6);
  background: -webkit-gradient(linear, left bottom, left top, from(#8558e9), to(#4a75e6));
  background: linear-gradient(to top, #8558e9, #4a75e6);
  border-radius: 5%;
  text-transform: uppercase; 
  border: 1px transparent;
}
.point-vladi{
  left: 50%;
}
.size-miller{
  border: 1px solid red;
  padding: 0 10px;
}


/*footer*/
.footer{
  background: #f7f2f4;
  padding: 80px 0 150px 0;
  margin-top: 1368px;
}
.footer-title{
  font-size: 60px;
  margin-bottom: 80px;
  line-height: 45px;
}
.footer-img{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px 20px 50px;
}
.footer-points{
 text-align: center;
}
.footer-point{
  height: 15px;
  width: 15px;
  background: #ceced3;
  position: absolute;
  border-radius: 100%;
  border: 3px solid #ebe7ea;
}
.footer-bottom{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-text{
  text-align: center;
  margin-top: 15px;
}

/*popup*/
.modal {
  display: none;
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; 
}
.modal__overlay {
  background: rgb(127,127,127, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; 
}
.modal__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1; 
  width: 640px;
  height: 350px;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1002;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.show {
  display: block !important;
}
.modal-left{
  width: 100%;
  padding: 10px 10px 20px 20px;
  background: #fff;
}
.modal-close{
  text-align: right;
  cursor: pointer;
}
.modal-title{
  font-family: "OpenSans-Bold";
  font-size: 18px;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 10px;
}
.modal-price{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 12px;
}
.modal-price__hidden{
  font-size: 24px;
  text-decoration: line-through;
  color: #8c8c8c;
  margin-right: 20px;
}
.modal-price__price{
  font-size: 30px;
  font-family: "OpenSans-Bold";
  color: #b4014e;
}
.drop-down{
  width: 280px;
  height: 45px;
  border: 1px solid #8c8c8c;
  margin-bottom: 12px;
}
.input-name, .input-phone, .input-xs{
  width: 280px;
  height: 45px;
  border: 1px solid #8c8c8c;
  margin-bottom: 12px;
  text-align: center;
}
.form-btn{
  height: 45px;
  color: #fff;
  font-family: "OpenSans-SemiBold";
  font-size: 18px;
  padding: 0 58px;
  background: -o-linear-gradient(bottom, #8558e9, #4a75e6);
  background: -webkit-gradient(linear, left bottom, left top, from(#8558e9), to(#4a75e6));
  background: linear-gradient(to top, #8558e9, #4a75e6);
  border-radius: 5%;
  text-transform: uppercase; 
  border: 1px transparent;
}

@media screen and (max-width: 960px){
  .container{
    width: 95%;
  }
  .catalog-card{
    width: 47%;
  }
  .footer{
    margin-top: 2000px;
  }
}
@media screen and (max-width: 768px){
  .header-nav{
    display: none;
  }
  .header-wrapper{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .intro-title::after{
    left: 18%;
  }
  .about .title{
    line-height: 40px;
  }
  .about .title::after{
    top: 120%;
  }
}
@media screen and (max-width: 640px){
  .intro{
    background: url(../img/bg-mob.png) no-repeat center;
    padding-top: 120px;
  }
  .intro-subtitle{
    font-size: 24px;
  }
  .intro-title{
    font-size: 57px;
    line-height: 90px;
    margin-bottom: 25px;
  }
  .intro-title::after{
    width: 315px;
    left: 24%;
  }
  .intro-price__subtitle{
    font-size: 18px;
    margin-bottom: 10px;
  }
  .intro-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
 }
  .intro-price{
    margin-bottom: 30px;
  }
  .btn:first-child{
    margin-right: 0;
    margin-bottom: 15px;
  }
  .btn{
    width: 312px;
    height: 60px;
    padding-top: 15px;
  }
  .tabs label{
    font-size: 12px;
    padding: 15px 25px 12px;
  }
  .tabs [id^="tab"]:checked + label{
    font-size: 12px;
    padding: 15px 25px 12px;
  }
  .catalog-card__img{
    width: 100%;
  }
  .catalog-cards{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalog-card{
    width: 70%;
  }
  .catalog-card__price-btn{
    padding: 15px 55px;
  }
  .footer{
    padding: 80px 0 50px 0;
    margin-top: 3800px;
  }
  .footer-title{
    font-size: 50px;
  }
  .footer-img{
    padding: 0 0 20px 0;
  }
  .footer-text{
    font-size: 12px;
    line-height: 20px;
  }
  .size-miller {
    padding: 0 2px;
  }
  .intro-title::after {
    width: 315px;
    left: 23%;
  }
  .title::after{
    left: 38%;
  }
  .footer-title{
    line-height: 50px;
  }
  th{
    font-size: 10px;
  }
  td{
    font-size: 10px;
  }
  .table-wrapper{
    padding: 10px;
  }
  .table-main{
    padding-left: 5px;
  }
  .table .title::after{
    top: 120%;
  }
  .form{
    text-align: center;
  }
  .form-btn{
    font-size: 13px;
  }
  .modal-left{
    max-width: 300px;
    margin: 0 auto;
  }
  .input-name, .input-phone, .input-xs{
    width: 230px;
  }
  .modal__body-img{
    display: none;
  }
}


@media screen and (max-width: 400px){
  .intro-title::after {
    left: 17%;
  }
  .tabs label{
    font-size: 8px;
    padding: 10px 20px 7px;
  }
  .tabs [id^="tab"]:checked + label{
    font-size: 8px;
    padding: 10px 20px 7px;
  }
  .intro-subtitle {
    font-size: 20px;
  }
  .intro-title{
    font-size: 45px;
  }
  .intro-title::after{
    width: 250px;
  }
  .table-wrapper {
    padding: 5px;
  }
  th{
    font-size: 8px;
  }
  td{
    font-size: 8px;
  }

  .catalog-card{
    width: 100%;
  }
  .footer .title::after{
    top: 120%;
  }
  .footer-text{
    font-size: 10px;
  }
}
@media screen and (max-width: 320px){
  .intro-title::after {
    left: 10%;
  }
}