html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
input {
  outline: none;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}
summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}
/*Montserrat-Regular*/
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.ttf"),
    url("../fonts/Montserrat-Regular.otf");
}
/*Montserrat-SemiBold*/
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Montserrat-SemiBold.ttf"),
    url("../fonts/Montserrat-SemiBold.otf");
}
/*Montserrat-Bold*/
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.otf"), url("../fonts/Montserrat-Bold.ttf");
}
/*Verdana-regular*/
@font-face {
  font-family: "Verdana";
  src: local("Verdana"), url("../fonts/Verdana.eot") format("embedded-opentype"),
    url("../fonts/Verdana.woff") format("woff"),
    url("../fonts/Verdana.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*Verdana-bold*/
@font-face {
  font-family: "Verdana";
  src: local("Verdana Bold"), local("Verdana-Bold"),
    url("../fonts/Verdana-Bold.eot") format("embedded-opentype"),
    url("../fonts/Verdana-Bold.woff") format("woff"),
    url("../fonts/Verdana-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/*Oswald-regular*/
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*Roboto-regular*/
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*Roboto-bold*/
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/*Roboto-regular*/
@font-face {
  font-family: "sf-pro-display_regular";
  src: url("../fonts/sf-pro-display_regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
h3 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 24.48px;
}
h2 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 32.64px;
}
h1 {
  font-size: 4rem;
  font-family: "Oswald";
  font-weight: 400;
  line-height: 77px;
  text-transform: uppercase;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 14px;
  line-height: 24.48px;
  font-weight: 400;
  color: #52585c;
  position: relative;
}
.wrapper {
  max-width: 1086px;
  margin: 0 auto;
}
.hidden__hidden {
  opacity: 0;
}

/*header*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /*mix-blend-mode: multiply;*/
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  background: rgba(44, 27, 59, 0.5);
  z-index: 1;
  height: 70px;
  padding-bottom: 14px;
}
.header__active {
  background: rgba(44, 27, 59, 1);
  z-index: 1000;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 15px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header_logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__logo-name {
  margin-left: 14px;
  font-size: 1.125rem;
  color: #ffffff;
  font-weight: 600;
}
.header__logo-name:hover {
  color: #d6d6d6;
}

.header__item {
  margin-right: 70px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.header__item-link:hover {
  color: #969696;
}
.header__item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.header__item:last-child {
  margin-right: 0;
}
.header__item-link {
  font-family: "Verdana";
  color: #b3b3b3;
  font-size: 0.9375rem;
}
.btn {
  padding: 8px 38px 9px 38px;
  background: #981564;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  font-family: "Roboto";
  font-size: 0.9375rem;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  width: 269px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn:hover,
.about-btn:hover {
  background: #159890;
}
.btn__mobile {
  display: none;
}
.header-navigation__btn {
  width: 30px;
  height: 23px;
  position: relative;

  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none;
}

.header-navigation__btn-row {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: #ffffff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.header-navigation__btn-row:nth-child(even) {
  left: 50%;
  border-radius: 0 3px 3px 0;
}

.header-navigation__btn-row:nth-child(odd) {
  left: 0px;
  border-radius: 3px 0 0 3px;
}

.header-navigation__btn-row:nth-child(1),
.header-navigation__btn-row:nth-child(2) {
  top: 0px;
}

.header-navigation__btn-row:nth-child(3),
.header-navigation__btn-row:nth-child(4) {
  top: 9px;
}

.header-navigation__btn-row:nth-child(5),
.header-navigation__btn-row:nth-child(6) {
  top: 18px;
}

.header-navigation__btn--active span:nth-child(1),
.header-navigation__btn--active span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header-navigation__btn--active span:nth-child(2),
.header-navigation__btn--active span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header-navigation__btn--active span:nth-child(1) {
  left: 2.5px;
  top: 3.5px;
}

.header-navigation__btn--active span:nth-child(2) {
  left: calc(50% - 2.5px);
  top: 3.5px;
}

.header-navigation__btn--active span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.header-navigation__btn--active span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.header-navigation__btn--active span:nth-child(5) {
  left: 2.5px;
  top: 14.5px;
}

.header-navigation__btn--active span:nth-child(6) {
  left: calc(50% - 2.5px);
  top: 14.5px;
}
/*intro*/
.intro,
.contact__form {
  min-height: 589px;
  background: url("../img/fon.jpg") no-repeat center center fixed;
  background-size: 100% 100%;
  position: relative;
  mix-blend-mode: multiply;
}
.intro__wrapper,
.contact__form-wrapper {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*background: -o-linear-gradient(350.51deg, #981563 2.65%, #435A94 51.83%, #159890 97.46%);*/
  /*background: linear-gradient(99.49deg, rgb(152, 21, 99, 1) 2.65%, rgb(152, 21, 99, 1) 51.83%, rgb(21, 152, 144, 1) 97.46%);*/
  background: -o-linear-gradient(
    350.51deg,
    rgb(152, 21, 99, 0.8) 2.65%,
    rgb(67, 90, 148, 0.8) 83%,
    rgb(21, 152, 144, 0.8) 97.46%
  );
  background: linear-gradient(
    99.49deg,
    rgb(152, 21, 99, 0.8) 2.65%,
    rgb(67, 90, 148, 0.8) 83%,
    rgb(21, 152, 144, 0.8) 97.46%
  );
  /*background: linear-gradient(99.49deg, #981563 2.65%, #435A94 51.83%, #159890 97.46%);*/
}
.intro__left {
  width: 39%;
  z-index: 100;
}
.intro__title {
  margin-top: 189px;
  font-family: "Oswald";
  font-weight: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 37px;
  z-index: 10;
}
.intro__subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 37px;
  color: #ffffff;
}
.intro__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}
.intro__right-img {
}
.intro__right {
  margin-top: 214px;
  z-index: 100;
}
/*about*/
.about {
  background: rgba(21, 152, 144, 0.13);
  padding-top: 119px;
  padding-bottom: 58px;
}
.about__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
}
.about__ios-img {
  margin-bottom: 32px;
  margin-top: 5px;
}
.about__text-title {
  margin-bottom: 16px;
}
.about__text-text {
  line-height: 24, 48px;
  text-align: justify;
  max-width: 328px;
}
.about__android .about__text-text {
  max-width: 268px;
}
.about__android-img {
  margin-bottom: 24px;
}
.btn__about {
  display: none;
}
.about__btn {
  padding: 6px 38px 7px 38px;
  background: #981564;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  font-family: "Roboto";
  font-size: 0.9375rem;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
/*mvp*/
.mvp {
  position: relative;
  padding-top: 94px;
  padding-bottom: 188px;
}
.mvp__btn {
  position: absolute;
  top: 39px;
  right: 154px;
}
.mvp__top {
  text-align: center;
  margin-bottom: 100px;
}
.mvp__top-title {
  text-transform: uppercase;
  margin-top: 41px;
  margin-bottom: 25px;
}
.mvp__top-subtitle {
  margin-bottom: 38px;
}
.about-btn {
  margin-bottom: 135px;
  display: block;
  padding: 8px 38px 9px 38px;
  background: #981564;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  font-family: "Roboto";
  font-size: 0.9375rem;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 32px;
  width: 269px;
}

.mvp__bottom {
  text-align: center;
}
.mvp__bottom::before {
  content: "";
  display: block;
  max-width: 626px;
  height: 1px;
  background-color: #981564;
  margin: 0 auto;
  margin-bottom: 60px;
}
.mvp__bottom-title {
  text-align: center;
  margin-bottom: 16px;
}
.mvp__bottom-subtitle {
  margin-bottom: 10px;
}
.mvp__bottom-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mvp__bottom-item {
  width: 340px;
  height: 220px;
  background: #159890;
  border-radius: 12px;
  margin-top: 49px;
  padding: 21px 20px 21px 20px;
  text-align: left;
}
.mvp__bottom-item__title {
  font-size: 1.3125rem;
  color: #fff;
  font-weight: 700;
  line-height: 33px;
}
.mvp__bottom-item__text {
  margin-top: 17px;
  font-weight: 400;
  color: #fff;
  line-height: 22px;
}
/*price*/
.price {
  min-height: 532px;
  background: url("../img/fon.jpg") no-repeat center center fixed;
  background-size: 100% 100%;
  background-color: rgba(21, 152, 144, 0.13);
  position: relative;
  mix-blend-mode: multiply;
  border-radius: 0px;
}
.price::after {
  background-color: rgba(21, 152, 144, 0.13);
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  z-index: 2;
}
.price__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.price__text {
  text-align: center;
  padding-top: 182px;
  z-index: 5;
}
.price__title {
  color: #981564;
  text-align: center;
  margin-top: 0;
  margin-bottom: 70px;
}
.btn__price {
  padding: 21px 60px 21px 60px;
  background: #159890;
  -webkit-box-shadow: 0px 0px 16px #808080;
  box-shadow: 0px 0px 16px #808080;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  color: #ffffff;
  border: 2px solid #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn__price:hover {
  background: #981564;
}
.price__sale {
  position: absolute;
  top: -10%;
  content: "";
  z-index: 10;
}
.price__sale-link__wrap {
  text-align: right;
}
.price__sale-mobile {
  display: none;
}
.price__sale-text {
  font-family: "Montserrat";
  font-weight: 700;
  color: #fff;
  font-size: 1.5rem;
  line-height: 44px;
  position: absolute;
  top: 10%;
  right: 90px;
}
.price__sale-link {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: italic;
  color: #f2f2f2;
}
.price__sale-link:hover {
  color: #dedede;
  text-decoration: underline;
}
/*work*/
.work,
.stages {
  min-height: 196px;
  background: url("../img/work.jpg") no-repeat center center fixed;
  background-size: 100% 100%;
  position: relative;
}
.work::after,
.stages::after {
  background: -o-linear-gradient(
    350.51deg,
    #981563 2.65%,
    #435a94 51.83%,
    #159890 97.46%
  );
  background: linear-gradient(
    99.49deg,
    #981563 2.65%,
    #435a94 51.83%,
    #159890 97.46%
  );
  border-radius: 0px;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  z-index: 2;
}
.work__title {
  position: absolute;
  color: #ffffff;
  line-height: 32.64px;
  padding-top: 54px;
  z-index: 10;
  text-align: center;
  width: 80%;
}
.work__text,
.stages__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.work__subtitle {
  position: absolute;
  bottom: 47px;
  color: #fff;
  z-index: 10;
}
/*slider*/
.slider {
  background-color: rgba(21, 152, 144, 0.13);
  height: 760px;
}
.slider__block {
  max-width: 1080px;
  background-color: #fff;
  margin: 0 auto;

  height: 760px;
}
.slider__mobile {
  display: none;
}

.slider__items {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 119px 96px 187px 99px;
}
.second__slider {
  padding: 119px 53px 187px 67px;
}
.second__slider .slider__content-img-img {
  margin-top: 56px;
  margin-bottom: 62px;
}
.seconde__slider .slider__content {
  width: 62%;
}
.slider__content-img-img {
  margin-bottom: 45px;
  margin-top: 26px;
}
.slider__content-img {
  width: 40%;
}
.slider__content-btn img:first-child {
  margin-right: 10px;
}
.slider__content {
  width: 60%;
}
.slider__content-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider__content-btn a:active,
.slider__content-btn a:focus {
  outline: none;
}
.slider__content-btn:focus {
  border: none;
}
.slider__content-title {
  font-size: 1.625rem;
  line-height: 32.64px;
  text-align: left;
  font-weight: 400;
  margin-bottom: 46px;
}
.slider__content-text {
  margin-bottom: 45px;
  line-height: 24px;
}
.slider__content-btn img {
  width: 135px;
  height: 40px;
}
.slider__btn {
  padding-top: 9px;
  padding-bottom: 13px;
}
.btn:active,
.btn:focus {
  outline: none;
}
.slick-dots {
  bottom: 70px;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  content: "";
  background: #981564;
  width: 17px;
  height: 17px;
  border-radius: 100%;
}
.slick-dots li button:before {
  width: 17px;
  height: 17px;
  background: #159890;
  content: "";
  border-radius: 100%;
  margin-bottom: 5px;
  opacity: 1;
}

.slick-next {
  width: 60px;
  height: 60px;
  background: url(../img/arrow.svg);
}
.slick-prev {
  width: 60px;
  height: 60px;
  background: url(../img/arrow-pr.svg);
}
.slick-next:before,
.slick-prev:before {
  content: "";
}
.slick-prev:hover,
.slick-prev:focus {
  background: url(../img/arrow-pr.svg);
}
.slick-next:hover,
.slick-next:focus {
  background: url(../img/arrow.svg);
}
/*stages*/
.stages__title {
  position: absolute;
  color: #ffffff;
  line-height: 32.64px;
  padding-top: 81px;
  z-index: 10;
  text-align: center;
}
/*idea*/
.idea {
  padding: 97px 93px;
  position: relative;
}
.idea__title {
  display: none;
}
.idea__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.idea__left {
  width: 45%;
}
.idea__item {
  position: relative;
}
.idea__text {
  font-size: 1.5rem;
  color: #981564;
  font-weight: 700;
  padding-left: 35px;
  padding-right: 60px;
  line-height: 36px;
}
.idea__down {
  position: absolute;
  top: 30px;
  left: 65px;
}
.idea__points {
  padding-top: 40px;
  display: block;
}
.idea__ball {
  position: absolute;
  top: 20px;
  left: 150px;
}
.analitic__item {
  margin-top: 50px;
  position: relative;
}
.analitic__down {
  position: absolute;
  top: 30px;
  left: 70px;
}
.analitic__push {
  position: absolute;
  left: 0;
  top: 50px;
}
.design__item {
  margin-top: 100px;
  position: relative;
  margin-bottom: 40px;
}
.design__cube {
  top: 50px;
  position: absolute;
  right: 222px;
}
.design__down {
  position: absolute;
  left: 72px;
  top: 40px;
}
.design__cube2 {
  position: absolute;
  left: 0;
  top: 50px;
}
.develop__item {
  margin-top: 80px;
  position: relative;
}
.develop__v {
  left: 125px;
  position: absolute;
  top: 30px;
}
.develop__down {
  position: absolute;
  left: 0;
  top: 8px;
}
.testing__item {
  position: relative;
  margin-top: 80px;
}
.testing__down {
  position: absolute;
  left: 90px;
  top: 30px;
}
.testing__bounds {
  position: absolute;
  left: 0;
  top: 35px;
}
.public__item {
  position: relative;
  margin-top: 90px;
}
.public__cube {
  position: absolute;
  right: 154px;
  top: 30px;
}
.public__points {
  position: absolute;
  top: 60px;
  left: 0;
}
.public__down {
  position: absolute;
  left: 160px;
  top: 50px;
}
.last__item {
  margin-top: 100px;
}
.idea__btn {
  padding: 22px 37px;
  font-family: "Roboto";
  font-size: 1.25rem;
  background: #159890;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin-bottom: 40px;
  display: block;

  color: #fff;
}
.idea__right-up {
  position: absolute;
  right: 154px;
  bottom: 30px;
}
.idea__right {
  max-width: 46%;
}

/*contact__form*/
.contact__form {
  min-height: 651px;
  position: relative;
}

.testim__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -30px;
  right: 19%;
}
.testim__photo {
  border: 3px solid#159890;
  border-radius: 100%;
  z-index: 1000;
  margin-top: -30px;
}
.testim__testim {
  z-index: 1000;
  position: relative;
}
.testim__text:hover {
  color: #ebebeb;
}
.testim__text {
  position: absolute;
  z-index: 10000;
  color: #fff;
  font-family: "Verdana";
  font-size: 24px;
  left: 7%;
  top: 25%;
}
.contact__form-title {
  color: #fff;
  line-height: 44px;
  padding-top: 120px;
  margin-bottom: 16px;
}
.contact__form-left {
  margin-right: 206px;
  max-width: 447px;
}
.contact__form-phones__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__name {
  font-size: 0.75rem;
  display: block;
  color: #fff;
}
.form__input {
  background: #ffffff;
  border: 1px solid #ced4da;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 8px;
  width: 426px;
  height: 38px;
  margin-bottom: 16px;
}
.form__btn {
  display: block;
  margin-top: 35px;
  background: #159890;
  -webkit-box-shadow: 0px 0px 16px #808080;
  box-shadow: 0px 0px 16px #808080;
  border-radius: 0px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.3125rem;
  color: #ffffff;
  padding: 21px 90px;
  border: 2px solid #ffffff;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.politic__btn {
  display: block;
  margin-top: 48px;
  background: #159890;
  -webkit-box-shadow: 0px 0px 16px #808080;
  box-shadow: 0px 0px 16px #808080;
  border-radius: 0px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.3125rem;
  color: #ffffff;
  padding: 21px 51px;
  border: 2px solid #ffffff;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.form__btn:hover,
.politic__btn:hover {
  background: #165652;
}
.contact__form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact__form-right {
  padding-top: 131px;
  max-width: 426px;
}
.contact__form-text {
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
  margin-bottom: 81px;
}
.contact__form-subtitle {
  font-family: "Verdana";
  font-size: 1.125rem;
  line-height: 23.46px;
  color: #fff;
}
.contact__form-connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 13px;
  margin-bottom: 58px;
}
.contact__form-phones,
.contact__form-connect__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.contact__form-connect__name {
  color: #fff;
  font-family: "Verdana";
  font-size: 0.875rem;
  margin-bottom: 5px;
  margin-left: 8px;
}
.contact__form-connect__phone,
.contact__form-connect__em {
  font-family: "sf-pro-display_regular";
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  margin-bottom: 13px;
}
.contact__form-politic {
  color: #ffffff;
  font-family: "Verdana";
  font-size: 0.875rem;
  line-height: 18px;
}
/*footer*/
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* mix-blend-mode: multiply; */
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  /*background: rgb(17,59,93, 0.3);*/
  background: rgba(44, 27, 59, 0.5);
  z-index: 4;
  height: 64px;
  padding-top: 19px;
}
.footer__page {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* mix-blend-mode: multiply; */
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  /*background: rgb(17,59,93, 0.3);*/
  background: rgba(44, 27, 59, 0.5);
  z-index: 4;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer__block {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* mix-blend-mode: multiply; */
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  /*background: rgb(17,59,93, 0.3);*/
  background: rgba(44, 27, 59, 0.5);
  z-index: 4;
  height: 250px;
  padding-top: 19px;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__item-link {
  font-size: 0.8125rem;
  color: #fff;
  margin-right: 32px;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer__text {
  font-size: 0.8125rem;
  color: #fff;
}
.footer__mobile {
  display: none;
}

/*politic-page*/
.block {
  height: 70px;
}
.politic {
  margin-top: 139px;
  margin-bottom: 106px;
}
.politic__bg {
  background: url("../img/header.svg") no-repeat center center;
}
.politic__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.politic__left {
  width: 50%;
}
.politic__right {
  width: 50%;
}
.politic__right-text {
  font-size: 12px;
  line-height: 14.58px;
  font-family: "Verdana";
  color: #000000;
}
.politic__left-link {
  font-family: "Verdana";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 21px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.politic__left-link a {
  color: #981564;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.politic__left-link a:hover {
  color: #159890;
}
.politic__left-btn a:hover {
  background: #159890;
}
.politic__left-link img {
  margin-right: 32px;
}
.politic__left-agree {
  margin-left: 60px;
  margin-bottom: 20px;
}
.politic__left-agree p,
.politic__left-about a {
  font-family: "Verdana";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #6b6b6b;
}
.politic__left-agreement {
  margin-left: 60px;
  margin-top: 40px;
  margin-bottom: 50px;
}
.politic__left-agreement a {
  font-family: "Verdana";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 21px;
  text-transform: uppercase;
  color: #981564;
}
.politic__left-about {
  margin-left: 60px;
}
.politic__left-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
}
.politic__left-btn a {
  margin-right: 20px;
}
.politic__left-btn a {
  color: #ffffff;
  padding: 10px 20px;
  background: #981564;
  border-radius: 4px;
}
.politic__close {
  display: none;
}
.politic__hidden {
  display: none;
}
.politic__form-left {
  width: 40%;
  padding-top: 172px;
}
.politic__form-right {
  max-width: 350px;
  padding-top: 49px;
}
.politic__form-left-text {
  font-family: Verdana;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  padding-bottom: 55px;

  color: #ffffff;
}
.politic__form {
  height: 413px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.visible {
  display: none;
}
.price__block {
  margin-top: 74px;
  margin-bottom: 103px;
  text-align: center;
}
.price__subtitle {
  font-family: "Verdana";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  padding-top: 26px;
  padding-bottom: 92px;
  color: #000000;
  max-width: 555px;
  margin: 0 auto;
}
.price__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.price__left,
.price__right {
  width: 460px;
}
.price__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
}
.price__name-title {
  font-family: "Verdana";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #159890;
}
.price__name-price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  color: #981564;
}
.line {
  width: 460px;
  height: 1px;
  background-color: #000000;
}
.price__name-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 19px;
  color: #000000;
  margin-top: 8px;
  text-align: left;
}
.price__item {
  margin-bottom: 29px;
}
.price__last {
  font-family: Verdana;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  color: #000000;
}

.price__btn-link {
  background: #981564;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  padding: 10px 58px 12px 58px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.price__btn-link:hover {
  background: #159890;
}
.price__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 127px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.price__last {
  width: 460px;
  text-align: right;
}
.price__btn {
  width: 460px;
  text-align: left;
}
.politic__form,
.price__form {
  min-height: 413px;
  background: url("../img/fon.jpg") no-repeat center center fixed;
  background-size: 100% 100%;
  position: relative;
  z-index: 0;
}
.acceptance-line {
  color: rgba(44, 27, 59, 1);
}

@media only screen and (max-width: 1600px) {
  .testim__item {
    right: 16%;
  }
  .wrapper {
    width: 95%;
  }
  .slider__block {
    width: 95%;
  }
  .idea__right-up img,
  .mvp__btn img {
    width: 37px;
  }
}
@media only screen and (max-width: 1100px) {
  .idea__right-up {
    right: 116px;
  }
  .mvp__bottom-items {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .second__slider .slider__content-img-img {
    width: 90%;
  }
  .slider__items {
    padding: 100px;
  }
  .price__sale {
    left: -200px;
  }
  .design__item {
    margin-top: 120px;
  }
  .develop__item {
    margin-top: 100px;
  }
  .public__cube {
    right: 80px;
  }
  .design__cube {
    right: 120px;
    top: 65px;
  }
  .idea__text {
    padding-right: 0;
  }
  .design__down {
    left: 60px;
    top: 64px;
  }
  .design__cube2 {
    top: 75px;
    left: -20px;
  }
  .develop__v {
    left: 140px;
  }
  .testing__bounds {
    left: -20px;
  }
  .public__points {
    left: -20px;
  }
  .contact__form-left {
    margin-right: 103px;
  }
}
@media only screen and (max-width: 992px) {
  .block {
    height: 96px;
  }
  .politic__left {
    width: 60%;
  }
  .header__nav {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    background-color: rgba(57, 57, 57, 0.9);
  }
  .header__nav--active {
    display: block !important;
  }
  .header-navigation__btn {
    display: block;
  }
  .btn {
    display: none;
  }
  .btn__mobile,
  .about-btn {
    display: block;
    padding: 8px 38px 9px 38px;
    background: #981564;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-family: "Roboto";
    font-size: 0.9375rem;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 32px;
    width: 269px;
  }
  .header__list {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    width: 206px;
    height: 290px;
    text-align: center;
    padding: 85px 0;
    background-color: rgba(57, 57, 57, 0.9);
  }
  .header__item-link {
    display: block;
    padding: 20px;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
    font-size: 1.125rem;
    color: #fff;
    font-weight: 600;
    font-family: "Montserrat";
  }
  .header__item {
    margin-right: 0;
  }
  .header {
    height: 96px;
  }
  .header__wrapper {
    padding: 32px 0;
  }

  .slider__items {
    padding: 60px;
  }
  .slider__block {
    width: 90%;
  }
  .idea {
    padding: 43px 34px;
  }
  .contact__form-left {
    margin-right: 20px;
  }
  .slider__block {
    max-width: 800px;
  }
  .price__left,
  .price__right {
    margin: 0 auto;
  }
  .price__wrap {
    display: block;
  }
  .price__bottom {
    display: block;
    padding-top: 35px;
    width: 100%;
  }
  .price__last,
  .price__btn {
    text-align: center;
  }
  .price__last,
  .price__btn {
    width: 100%;
  }
  /* .price{
    margin-bottom: 70px;
  }*/
  .line {
    width: 100%;
  }
  .price__btn {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2.8125rem;
    line-height: 55px;
  }
  h3 {
    font-size: 1.25rem;
  }
  .intro {
    min-height: 705px;
  }
  .intro__wrap {
    display: block;
  }
  .intro__left {
    width: 100%;
    text-align: center;
  }
  .intro__right {
    width: 280px;
    margin: 0 auto;
    margin-top: 120px;
  }
  .intro__right-img {
    margin-top: 11px;
  }
  .intro__title {
    margin-top: 140px;
    margin-bottom: 22px;
    text-align: center;
  }
  .about {
    position: relative;
    padding: 70px 53px 78px 51px;
  }
  .about__wrap {
    display: block;
  }
  .about__text-text {
    max-width: 100%;
  }
  .about__android .about__text-text {
    max-width: 100%;
  }
  .about__ios-img,
  .about__android-img {
    margin-bottom: 20px;
  }
  .about__text-title {
    margin-bottom: 32px;
  }
  .about__android {
    margin-top: 84px;
  }
  .btn__about {
    display: block;
  }
  .mvp__btn {
    top: 54px;
    right: 19px;
    width: 37px;
  }
  .mvp__mobile {
    display: none;
  }
  .mvp__top-title {
    margin-top: 28px;
    margin-bottom: 28px;
  }
  .mvp {
    padding: 57px 10px 107px 10px;
  }
  .mvp__top-subtitle {
    font-size: 13px;
    line-height: 24px;
    width: 90%;
    margin: 0 auto;
  }
  .mvp__top {
    margin-bottom: 71px;
  }
  .mvp__bottom-item {
    margin-top: 35px;
  }
  .mvp__bottom-subtitle {
    margin-bottom: 0;
    font-size: 13px;
    line-height: 22px;
  }
  .mvp__bottom-title {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 26px;
  }
  .about-btn {
    margin-bottom: 71px;
  }
  .slider {
    display: none;
  }
  .idea__right {
    margin: 0 auto;
    max-width: 490px;
  }
  .idea__left {
    width: 100%;
  }
  .idea__right-up {
    right: 0;
  }

  .price__sale {
    left: -300px;
    display: none;
  }
  .price__sale-mobile {
    display: block;
    position: absolute;
    top: -17%;
    content: "";
    z-index: 100;
  }
  .price__text {
    padding-top: 145px;
  }
  .price__sale-text__mobile {
    left: 15px;
    font-size: 1.25rem;
  }
  .idea__wrapper {
    display: block;
    position: relative;
  }
  .public__cube {
    right: 28px;
  }
  .contact__form {
    min-height: 1220px;
  }
  .contact__form-left {
    width: 100%;
    margin-right: 0;
    text-align: center;
    margin: 0 auto;
  }
  .contact__form-right {
    width: 100%;
    padding-top: 91px;
  }
  .contact__form-wrap {
    display: block;
  }
  .form__btn {
    display: inline-block;
    margin-bottom: 40px;
  }
  .contact__form-title {
    padding-top: 83px;
    margin-bottom: 48px;
    text-align: center;
  }
  .form__input {
    margin-bottom: 22px;
  }
  .form__input:last-child {
    margin-bottom: 0;
  }

  .footer__item:last-child {
    display: none;
  }
  .footer__item {
    width: 50%;
  }
  .contact__form-text {
    display: none;
  }
  .idea__left {
    margin: 0 auto;
    width: 60%;
    margin-bottom: 57px;
  }
  .slider__mobile {
    display: block;
  }
  .slider__mobile {
    padding: 39px 55px 0 55px;
  }
  .slider__mobile .slider__content-img {
    width: 100%;
    text-align: center;
  }
  .slider__mobile .slider__content-btn {
    display: block;
  }

  .slider__mobile .slider__content-text {
    margin-top: 28px;
    margin-bottom: 32px;
  }
  .slider__mobile .slider__content {
    width: 100%;
  }
  .slider__mobile .slider__content-title {
    text-align: center;
    margin-bottom: 26px;
  }
  .slider__mobile-link {
    color: #159890;
    font-weight: bold;
    font-family: "Verdana";
  }
  .slider__mobile .slider__content-btn img {
    width: 237px;
    height: 71px;
  }
  .slider__btn {
    display: block;
    padding: 6px 23px 7px 23px;
    background: #981564;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-family: "Roboto";
    font-size: 0.9375rem;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 64px;
    width: 256px;
  }
  .footer__mobile {
    display: block;
    padding: 116px 22px 22px 22px;
  }
  .footer {
    height: 526px;
  }
  .footer__block {
    height: 180px;
  }
  .footer__page {
    height: 180px;
  }
  .contact__form-right {
    display: none;
  }

  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer__menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 63px;
  }
  .footer__menu a {
    color: #ffffff;
    font-family: "Verdana";
  }
  .footer__contact {
    text-align: center;
  }
  .footer__phone {
    margin-top: 30px;
  }
  .contact__form-connect__phone,
  .contact__form-connect__em {
    display: block;
  }
  .footer__email {
    margin-top: 23px;
    margin-bottom: 85px;
  }
  .footer__bottom span {
    color: #ffffff;
  }
  .footer__bottom {
    text-align: center;
    font-size: 12px;
    line-height: 25px;
    /*margin-top: 20px;*/
  }
  .footer__list {
    display: none;
  }
  .footer__text {
    display: none;
  }
  .contact__form-connect__phone:last-child {
    margin-bottom: 23px;
  }
  .contact__form-politic {
    font-size: 12px;
  }
  .footer__phone-item {
    margin: 0 auto;
    width: 140px;
    text-align: left;
    margin-bottom: 25px;
  }
  .mobile {
    display: block;
    margin-bottom: 44px;
    padding: 20px;
  }
  .hidden {
    display: none;
  }
  .politic__wrap {
    display: block;
  }
  .politic {
    margin-top: 0;
    margin-bottom: 47px;
    padding: 0 20px;
  }
  .politic__left {
    width: 100%;
  }
  .politic__right {
    width: 100%;
    margin-top: 50px;
  }
  .politic__left-agree {
    margin-left: 0;
  }
  .politic__left-agreement {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .politic__close {
    display: block;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 22px;
  }
  .politic__left-btn {
    margin-left: 0;
  }
  .politic__form-left {
    padding-top: 20px;
    text-align: center;
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .politic__form-right {
    padding-top: 41px;
    text-align: center;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .contact__form-connect {
    display: block;
  }
  .contact__form-phones__items {
    width: 160px;
    margin: 0 auto;
    text-align: left;
  }
  .visible {
    display: block;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .politic__right-text {
  }
  .price__block {
    margin-top: 0;
  }
  .politic__close {
    display: block;
    text-align: right;
    margin-top: 22px;
    margin-bottom: 17px;
  }
  .price__subtitle {
    padding-top: 23px;
    padding-bottom: 32px;
  }
  .price__left,
  .price__right {
    width: 80%;
  }
  .price__name-title {
    text-align: left;
  }
  .submit {
    margin-bottom: 40px;
  }
  .politic__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    min-height: 590px;
  }
  .politic__form-right {
    padding-top: 0;
    margin: 0 auto;
    margin-top: 20px;
  }
  .politic__btn {
    margin-bottom: 44px;
  }
  .politic__form .price__form {
    height: 797px;
  }
  .price__form {
    height: 797px;
  }
  .politic__btn {
    padding: 21px 25px;
  }
  .contact__form-connect .hidden {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .intro__right {
    margin-top: 85px;
  }
}
@media only screen and (max-width: 565px) {
   .work {
    height: 312px;
  }
  .work__subtitle{
    text-align: center;
  }
  .intro__right {
    margin-top: 30px;
  }

  .slider {
    display: none;
  }
  .idea__left {
    width: 80%;
    margin-bottom: 57px;
  }
  .idea__right-up {
    right: 0px;
  }
  .idea__right-up img {
    width: 37px;
  }
  .idea__btn {
    padding: 20px;
  }
  .form__input {
    width: 100%;
  }
  .form__btn {
    width: 100%;
    padding: 10px 20px;
  }
  .testim__testim {
    width: 70%;
    margin: 0 auto;
  }
  .testim__text {
    font-size: 19px;
    left: 13%;
  }
  .testim__photo {
    width: 76px;
    height: 76px;
  }
  .testim__item {
    right: 5%;
  }
  .contact__form-right {
    display: none;
  }
  .price__sale-text {
    line-height: 42px;
  }
  .contact__form-wrapper {
    padding: 0 22px;
  }
  .form__btn {
    padding: 21px 25px;
    margin-top: 26px;
  }
}

@media only screen and (max-width: 400px) {
  .intro__subtitle {
    line-height: 22px;
    font-size: 1.125rem;
  }
  .intro__right {
    margin-top: 56px;
  }
  .form__btn {
    padding: 21px 25px;
    margin-top: 26px;
  }
  .mvp__bottom-item {
    padding: 10px;
  }
  .btn__price {
    width: 100%;
    padding: 18px 49px;
  }
  .price__title {
    width: 70%;
    margin: 0 auto;
  }
  .slider__btn {
    padding: 10px;
  }
  .footer__email {
    margin-bottom: 35px;
  }
  .footer {
    height: 526px;
  }
  .work {
    height: 312px;
  }
  .work__title {
    line-height: 50px;
    width: 75%;
    padding-top: 38px;
  }
  .work__subtitle {
    text-align: center;
    line-height: 38px;
  }
  .price__title-link {
    margin-top: 80px;
  }
  .contact__form-wrapper {
    padding: 0 12px;
  }
  .idea {
    padding: 30px 10px 100px 10px;
  }
  .idea__right-up {
    bottom: -60px;
  }
  .footer__phone-item {
    width: 135px;
    margin: 0 auto;
    text-align: left;
  }
  .price__last {
    font-size: 0.875rem;
  }
  .price__btn {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 350px) {
  .header__logo-name {
    display: none;
  }
  .price__sale-text {
    line-height: 30px;
  }
  .btn__price {
    width: 100%;
    padding: 15px 30px;
  }
  .slider__btn {
    width: 100%;
  }
  .price__title {
    width: 100%;
  }
  .politic__btn {
    padding: 21px 15px;
  }
}