.header a, a:hover {
	color: #f0ad4d;
	text-decoration: none;
}
.header h1 {
	letter-spacing: 15px;
	font-size: 300%;
}
.header p {
	color: #fff;
	font-size: 90%;
	letter-spacing: 3px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    background-color: #00ffd7;
}
.nav-tabs>li>a {
	color: #fff;

}
.nav-tabs>li>a:hover {
	background-color: #00ffd7;
}
.navbar-inverse {
    padding: 1%;
    border-radius: 0;
}
@media (max-width: 767px) {
.nav-tabs>li {
	float: none;
}
.nav-tabs{
	text-align: center;
}
.header h1 {
	letter-spacing: 5px;
	font-size: 280%;
}
.header {
	text-align: center;
	border: none;
	}
}
.clear {
	clear: both;
	width: 63px;
	
}
.wrapper {
	min-height: 100%;
}
html, body {
	height: 100%;
}
.films_block {
	text-align: center;
}
.films_block img {
	margin-bottom: 5%;
	border-radius: 5px;
	border: 5px solid #dad7d5;
	width: 100%;
}
.film_label {
	padding: 2%;
	margin-bottom: 4%;
}
.margin-8 {
	margin-top: 8%;
}
.panel {
	border: none;
}
.panel-body {
	background-color: #f9f9f9;
}
.panel-info>.panel-heading {
	background-color: #f0ad4e;
	color: #fff;
	border-color: transparent;

}
.sidebar-header {
	font-size: 120%;
	letter-spacing: 2px;
}
.form-control {
	border-radius: 0px;
}
.input-lg {
	font-size: 14px;
}
.list-group-item-warning {
	color: #8a6b3d;
	background-color: #f9f9f9;
}
.badge {
	background-color: #000;
}
.info-block {
	font-size: 120%;
}
.info-block .badge {
	font-size: 80%
}
.info-block span {
	margin-right: 3%;
}
textarea.form-control {
	height: 200px;
}
table tbody>tr>td.vert-align {
	vertical-align: middle;
}
footer {
	color: #666;
	background-color: #222;
	padding: 17px 0 18px 0;
	border-top: 1px solid #000;
	margin-top: 20px;
}
footer a{
	color: #999;
}
footer a:hover {
	color: #00ffd7;
}
@media (max-width: 300px) {
	.header a{
		font-size: 30px;
	}
}